<div class="sign-in-panel home">
<br>

<%= form_tag(user_ldap_omniauth_callback_path, {class: 'form-tub'}) do %>
  <img src="/images/autolab.svg" alt="" class="valign login-logo">
  <h5>Login to Autolab</h5>

  <div><%= text_field_tag :username, nil, placeholder: "TUB Username" %></div>

  <div><%= password_field_tag :password, nil, placeholder: "Password" %></div>

  <div><%= submit_tag "Sign in", :class=>"btn primary" %></div>
<% end %>


<div class="form-plain" style="display:none">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <img src="/images/autolab.svg" alt="" class="valign login-logo">
  <h5>Login to Autolab</h5>

  <div><%= f.email_field :email, autofocus: true, placeholder: "Email Address" %></div>
  <div><%= f.password_field :password, placeholder: "Password" %></div>

  <% if devise_mapping.rememberable? -%>
  <label>
      <%= f.check_box :remember_me %>
      <span> <%= f.label :remember_me %> </span> <br>
  </label>
  <p></p>
  <% end -%>
  <%# <%= link_to "Forgot your password?", new_password_path(resource_name) %><%#<br>
  <p></p> %>
  <div><%= f.submit "Sign in", class: "btn primary" %></div>
<% end %>
</div>

<br>
<script type="text/javascript">
const toggle = () => {
  $(".form-tub").toggle();
  $(".form-plain").toggle();
  $(".no").toggle();
}
</script>
<a href="javascript:toggle()"><span class="no">No </span>TUB Account</a><br>
<% if Rails.env == "development" %>
<%= link_to "Developer Login", "/home/developer_login" %><br />
<%= render "devise/shared/links" %>
<% end %>

</div>
